body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #0f172a;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.nb-card {
  border: 4px solid #6b7280;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: white;
}

.nb-btn {
  border: 3px solid #0ea5e9;
  background-color: #0ea5e9;
  color: white;
  font-weight: 600;
  padding: 8px 16px;
  transition: 0.2s;
}

.nb-btn:hover {
  background-color: white;
  color: #0ea5e9;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

html {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
  overflow-y: scroll;
}

html,
body {
  scroll-behavior: smooth;
}